<div class="container">
    <div class="row">
      <div class="col-4"></div>
  
      <div class="col-4">
        <div class="card">
          <div class="card-body centralizar">
            <h2>{{ turmaForm.get('id')?.value ? 'Editar Turma' : 'Cadastro de Turma' }}</h2>
  
            <!-- Formulário -->
            <form [formGroup]="turmaForm" (ngSubmit)="salvarTurma()">
  
              <!-- Nome da Turma -->
              <label for="nome">Nome da Turma:</label>
              <input type="text" class="form-control" id="nome" formControlName="nome">
              <div *ngIf="turmaForm.get('nome')?.invalid && turmaForm.get('nome')?.touched" class="text-danger">
                Nome é obrigatório.
              </div>
              <br>
  
              <!-- Semestre -->
              <label for="semestre">Semestre:</label>
              <input type="text" class="form-control" id="semestre" formControlName="semestre">
              <div *ngIf="turmaForm.get('semestre')?.invalid && turmaForm.get('semestre')?.touched" class="text-danger">
                Semestre é obrigatório.
              </div>
              <br>
  
              <!-- Ano -->
              <label for="ano">Ano:</label>
              <input type="text" class="form-control" id="ano" formControlName="ano">
              <div *ngIf="turmaForm.get('ano')?.invalid && turmaForm.get('ano')?.touched" class="text-danger">
                Ano é obrigatório.
              </div>
              <br>
  
              <!-- Turno -->
              <label for="turno">Turno:</label>
              <input type="text" class="form-control" id="turno" formControlName="turno">
              <div *ngIf="turmaForm.get('turno')?.invalid && turmaForm.get('turno')?.touched" class="text-danger">
                Turno é obrigatório.
              </div>
              <br>
  
              <!-- Botão de salvar -->
              <button type="submit" class="btn btn-success" [disabled]="turmaForm.invalid">
                {{ turmaForm.get('id')?.value ? 'Atualizar' : 'Salvar' }}
              </button>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-4"></div>
    </div>
  </div>
  