<div class="container mt-5">
  <h2 class="text-center text-dark">Lista de Alunos</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary rounded-pill" (click)="new()">
      <i class="fas fa-user-plus me-2"></i> Cadastrar novo aluno
    </button>
  </div>

  <div class="card shadow-lg rounded-4">
    <div class="card-body p-4">
      <div class="table-responsive">
        <table class="table table-hover align-middle border rounded-3">
          <thead class="table-light">
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>Cadastro Completo</th>
              <th>Turma</th>
              <th>Professores</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            @for (aluno of listaAlunos; track $index) {
              <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.cpf }}</td>
                <td>{{ aluno.telefone || "Não informado" }}</td>
                <td>{{ aluno.cadastroCompleto ? "Sim" : "Não" }}</td>
                <td>{{ aluno.turma?.nome || "Sem turma" }}</td>
                <td>
                  <div class="d-flex flex-wrap">
                    <ng-container *ngFor="let professor of aluno.turma?.professores">
                      <span class="badge bg-primary m-1">{{ professor.nome }} - {{ professor.especialidade }}</span>
                    </ng-container>
                    @if (!aluno.turma?.professores || aluno.turma?.professores?.length === 0) {
                      <span class="text-muted"><strong>Nenhum professor atribuído</strong></span>
                    }
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm rounded-pill mx-1" (click)="edit(aluno)">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                  <button class="btn btn-danger btn-sm rounded-pill mx-1" (click)="deletarAluno(aluno.id)">
                    <i class="fas fa-trash"></i> Excluir
                  </button>
                </td>
              </tr>
            }@empty {
              <tr>
                <td colspan="7" class="text-center text-muted py-3">
                  <h6>Nenhum aluno cadastrado.</h6>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #modalAlunoForm>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ alunoEdit.id > 0 ? 'Editar Aluno' : 'Novo Aluno' }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-aluno-form [aluno]="alunoEdit" (retorno)="retornoDetalhe($event)"></app-aluno-form>
  </div>
</ng-template>
