<h2 style="text-align: center; color: #333; font-family: Arial, sans-serif;">Lista de Cursos</h2>
<div style="display: flex; justify-content: end; align-items: center; height: 100%;">
  <button class="btn btn-primary" style="margin-right: 10px;" (click)="cadastrarCurso()">
    Cadastrar novo curso
  </button>
</div>
<ul style="list-style-type: none; padding: 0;">
  @for (curso of cursos; track $index){
  <li style="border: 1px solid #ddd; margin: 10px 0; padding: 15px; border-radius: 8px; background-color: #f9f9f9;">
    <div class="row">
      <div class="col-6">
        <h3 style="margin: 0; font-size: 18px; color: #2c3e50;">
          {{ curso.nome }}
        </h3>
        <p style="font-size: 14px; color: #7f8c8d;">ID: <strong>
            {{ curso.id }}</strong></p>

        <div class="row">
          <div>
            <strong>Turma:</strong>
            {{ curso.turma?.nome || 'Sem turma cadastrada' }} <br>
          </div>
          <div>
            <strong>Semestre:</strong>
            {{ curso.turma?.semestre || '-' }}
          </div>
          <div> <strong>Ano:</strong>
            {{ curso.turma?.ano || '-' }}
          </div>
          <div><strong>Turno:</strong>
            {{ curso.turma?.turno || '-' }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div style="display: flex; justify-content: end; align-items: center; height: 100%;">
          <button class="btn btn-primary" style="margin-right: 10px;" (click)="editarCurso(curso.id)">
            Editar
          </button>
          <button class="btn btn-danger" (click)="excluirCurso(curso.id)">
            Excluir
          </button>
        </div>
      </div>
    </div>
  </li>
  }
</ul>